<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="http://ysdiary.com" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Content Writing / Management & SEO 
                            </div>
                            <div class="project-name">
                                Information Technology Blog - YS DIARY
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://yogeshtemplate.github.io" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                HTML5 / CSS3 Hands on Code
                            </div>
                            <div class="project-name">
                                Coffee Plant Template <br>Core Design & Development
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://play.google.com/store/apps/details?id=ysdiary.com.stormy" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Android Application Development
                            </div>
                            <div class="project-name">
                                Mumbai Weather
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://yogeshtemplates.github.io/" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                BootStrap
                            </div>
                            <div class="project-name">
                                Simple Front Page <br> Creative World Template
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://gurukulsendhwa.org/" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Website Design and Development
                            </div>
                            <div class="project-name">
                                Gurukul School Website
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://play.google.com/store/apps/details?id=com.ysdiary.hanumanchalisa" class="portfolio-box" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Android Application Development
                            </div>
                            <div class="project-name">
                                Hanuman Chalisa 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
